body {
    margin: 0;
    height: 100;
    background: linear-gradient(rgba(252, 251, 251, 0.6), rgba(252, 251, 251, 0.6)) center/cover no-repeat, url("https://gautam92656.github.io/computerinfo/dreamstime_m_87808373.webp") center/cover no-repeat;
    color: #101010;
}