body {
    margin: 0;
    height: 100;
    background: linear-gradient(rgba(252, 251, 251, 0.6), rgba(252, 251, 251, 0.6)) center/cover no-repeat, url("https://gautam92656.github.io/computerinfo/dreamstime_m_87808373.webp") center/cover no-repeat;
    color: #101010;
}

.container-fluid {
    display: flex;
    padding: 10px;
    position: relative;
    margin: 10px;
}

.head {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 70px;
    margin: 20px;
    color: #010101;
}

.img1sec1,
.img2,
.img3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 150px;
    margin: 20px 0px;
    /* padding: 50px; */
    overflow: hidden;
}

.bgimg {
    width: 100%;
    height: 100%;
}

.text1,
.text2,
.text3 {
    /* height: 450px; */
     font-size: 20px;
     font-weight: 540; 
    /* margin-bottom: 80px; */
}

.sum1,
.sum2,
.sum3 {
    /* height: 500px; */
    font-size: 20px;
}

.sec1,
.sec2,
.sec3 {
    box-shadow: 1px 1px 5px 1px #141313;
    position: relative;
    text-align: justify; 
    border: 0 solid #191717;
    padding: 20px;
    margin-top: 70px;
    margin: 20px;
    /* width: 30%; */
    border-radius: 35px;
    transition: 1s;
}

.sec1:hover,
.sec2:hover,
.sec3:hover {
    box-shadow: 3px 3px 20px 3px #141313;
    padding: 25px; 
}

@media only screen and (max-width: 992px) {
    body {
        background: linear-gradient(rgba(252, 251, 251, 0.6), rgba(252, 251, 251, 0.6)) 100%, url("https://gautam92656.github.io/computerinfo/dreamstime_m_87808373.webp");
    }

    /* h1 {
        font-size: 60px;
        letter-spacing: 2px;
    } */


    .head {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .container-fluid {
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}



@media only screen and (min-width: 992px) and (max-width: 1299px) {
    body {
        background: linear-gradient(rgba(252, 251, 251, 0.6), rgba(252, 251, 251, 0.6)) center/cover, url("https://gautam92656.github.io/computerinfo/dreamstime_m_87808373.webp") center/cover;
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .head {
        display: flex;
        justify-content: center;
    }

 .sec1,
.sec2,
.sec3 {
    margin: 30px;
    width: 500px;
}

}

@media only screen and (max-width: 992px) and (min-width: 600px) {
    body {
        background: linear-gradient(rgba(252, 251, 251, 0.6), rgba(252, 251, 251, 0.6)) center, url("https://gautam92656.github.io/computerinfo/dreamstime_m_87808373.webp") center;
    }

    .container-fluid {
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img1sec1,
    .img2,
    .img3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (min-width: 1300px) {
    
    body {
        background: linear-gradient(rgba(252, 251, 251, 0.6), rgba(252, 251, 251, 0.6)) 100%, url("https://gautam92656.github.io/computerinfo/dreamstime_m_87808373.webp");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .sec1,
    .sec2,
    .sec3 {
        margin: 30px;
        width: 500px;
    }
}


@media only screen and (max-width: 600px) {
    .container-fluid {
        /* width: 100%; */
        display: block;
        flex-direction: column;
        align-items: center;
    }

    .head {
        display: block;
        justify-content: center;
    }
}

summary{
    cursor:pointer;
}
/* 
details {
    /* position: absolute; 
    display: flex;
    position: sticky;

}

summary {
    background-color: rgb(216, 130, 130);
    padding: 15px 30px;
    width: 70px;
    border-radius: 20px;
} */